* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4ffe7;
}
.content {
  width: 1080px;
  min-height: 100vh;
  background: white;
  margin: 85px auto;
  border-radius: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 60px;
  border-bottom: 1px solid gray;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 40px;
  height: 40px;
  gap: 16px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  column-gap: 32px;
}
.header__nav-list li {
  display: flex;
  align-items: center;
}
